@numRecong_lightblue:#2fc1d8;
@numRecong_darkblue:#4791AD;
@numRecong_yellow:#F0E88D;
@numRecong_lightyellow:#FFF2AB;

.trans() {
	 -webkit-transition: 200ms linear;
	 -moz-transition: 200ms linear;
	 -ms-transition: 200ms linear;
	 -o-transition: 200ms linear;
	 transition: 200ms linear;
	 -webkit-transition-property: color background-color border;
	 -moz-transition-property: color background-color border;
	 -ms-transition-property: color background-color border;
	 -o-transition-property: color background-color border;
	 transition-property: color background-color border;
}


html, body,button,p {
	 width: 100%;
	 font-family: caviar;
}
h2, h3 {
	 font-weight: bold;
	 font-size: 2em;
	 text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	 color: @numRecong_yellow;
}

body {
	 text-align: center;
	 position: relative;
	 background-color:@numRecong_yellow;
}
.section {
	 width: 100%;
}
#header {
	 height: 600px;
	 background-image: url(../images/header.jpg);
	 background-position: 50% 50%;
	 background-size: cover;
	 box-sizing: border-box;
	 clear: both;
	 display: block;
	 padding: 5em;
	 h1 {
		  font-size: 5em;
		  color: #ffffff;
	 }
	 p {
		  margin: 1em 0;
		  font-size: 20px;
		  color:lighten(@numRecong_lightblue, 30%);
	 }
}

#content {
	 top: 400px;
	 position: absolute;
	 width: 100%;
	 color: @numRecong_darkblue;
	 text-align: left;
	 .container {
		  max-width: 800px;
		  margin: 0 auto;
		  padding: 2em;
		  box-sizing: border-box;

		  &>p {
			   margin:1.2em 0 1em 0;
			   span {
					color: darken(@numRecong_darkblue, 5%);
					font-weight: bold;
					font-size: 1.2em;
			   }

		  }
	 }
	 .main-wrapper {
		  background-color: rgba(247, 247, 247, 0.38);
		  box-shadow: 0 1px 13px rgba(82, 75, 61, 0.09);
	 }
	 .select-section {
		  display: inline-block;
		  vertical-align: top;
		  text-align: left;
		  margin: 0 0 0 1em;

		  .number {
			   margin: 0 0 1em 0;
			   &>p {
					line-height: 1.3em;
					display: inline;
					background: rgba(255, 255, 255, 0.85);
					border-radius: 1em;
					padding: 2px 9px;

			   }
			   .recommend-num {
					height: 100px;
					width: 100px;
					background-color: rgba(129, 192, 204, 0.72);
					border: 5px dotted rgba(255, 255, 255, 0.8);
					padding: 1em;
					box-sizing: border-box;
					border-radius: 50%;
					margin: -20px 0 0 -10px;
					p {
						 font-size: 3.5em;
						 text-align: center;
						 vertical-align: bottom;
						 line-height: 1.25em;
						 color: #5F8999;
					}
			   }
		  }

	 }
	 .area-canvas {
		  display: inline-block;
		  width: 450px;
		  padding: 1em;
		  border: 1px solid rgba(255, 255, 255, 0.8);
		  canvas {
			   width: 450px;
			   height: 450px;
			   background-color: rgba(255, 255, 255, 0.7);
		  }
		  .result {
			   width: 100%;
			   height: 200px;
			   .number {
					display: inline-block;
					width: 145px;
					border: solid 1px;
					height: 145px;

			   }
		  }
	 }
}


.area-button {
	 //	 float: right;

	 //	 background-color: red;
	 button {
		  padding: 0.7em;
		  background-color: rgba(255, 255, 255, 0.1);
		  border: 2px solid rgba(255, 255, 255, 1);
		  border-radius: 2em;
		  color: rgb(255, 255, 255);
		  font-size: 1em;
		  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
		  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
		  font-weight: bold;
		  cursor: pointer;
		  .trans();
		  &:hover {
			   color: @numRecong_darkblue;
			   background-color: rgba(255, 255, 255, 0.3);
			   box-shadow:none;
			   .trans();
		  }
		  &:focus {
			   outline: -webkit-focus-ring-color none;
		  }
	 }
}
.submit-area {
	 margin:1em 0 0 0;
	 input[type="number"] {
		  padding: 0.7em;
		  border-radius: 8px;
		  border: 1px solid #fff;
		  background-color: rgba(255, 255, 255, 0.43);
	 }
}
